# API Gateway Configuration
API_GATEWAY_PORT=

# Auth Service Configuration
AUTH_SERVICE_PORT=

# Products Service Configuration
PRODUCTS_SERVICE_PORT=

# JWT Configuration (altere para uma chave segura em produção)
JWT_SECRET=

# Service URLs
AUTH_SERVICE_URL=
PRODUCTS_SERVICE_URL=

# Environment
NODE_ENV=development
